__pycache__

aggregated_contents.txt

back_end/env
back_end/app.exe
back_end/app.ilk
back_end/app.obj
back_end/app.pdb
back_end/settings.py
back_end/vc140.pdb

back_end/ai/self_play_training_data.npy
back_end/ai/neural_network.pt

back_end/db/create_game_database.sql
back_end/db/delete_game_database.sql

front_end/node_modules