aggregate_code/__pycache__
aggregate_code/aggregated_contents.txt

back_end/.vs
back_end/ai/neural_network.pt
back_end/config.json
back_end/dependencies
back_end/intermediate
back_end/x64

cud_database/__pycache__
cud_database/settings.py

env

front_end/node_modules